<a class="btn btn-primary btn-lg" routerLink="/">
  <i class="fa fa-arrow-left"></i> Back</a>
<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <h2>
            Add New Product
          </h2>
        </div>
        <div class="card-body">
          <form id="formNewProduct" name='formNewProduct' #productData="ngForm" (ngSubmit)="addNewProduct(productData.value)">
            <div class="form-group">
              <label>Product ID:</label>
              <input class="form-control" type="number" name="p_id" id="p_id" placeholder="Enter Product ID" ngModel>
            </div>

            <br>

            <div class="form-group">
              <label>Product Name:</label>
              <input class="form-control" type="text" name="p_name" id="p_name" placeholder="Enter Product Name" ngModel>
            </div>
            <br>

            <div class="form-group">
              <label>Product Cost:</label>
              <input class="form-control" type="number" name="p_cost" id="p_cost" placeholder="Enter Product Cost" ngModel>
            </div>
            <br>

            <input class="btn btn-success justify ml-5" type="submit" value="Add Product">
          </form>
          <h3 class="text-success" *ngIf="isAdded">{{confirmationString}}</h3>
        </div>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>